---
import Candlestick from "@components/charts/Candlestick.astro";

interface Props {
	symbol: string;
}

const { symbol } = Astro.props;

const responseWeekly = await fetch(
	`https://yf-api-ben-sonley-s-team.vercel.app/api/history?symbol=${symbol}&weeks=52&interval=1wk`,
);
console.log(responseWeekly);
const weeklyData = await responseWeekly.json();

const responseDaily = await fetch(
	`https://yf-api-ben-sonley-s-team.vercel.app/api/history?symbol=${symbol}&weeks=13&interval=1d`,
);
const dailyData = await responseDaily.json();

const responseIntraday = await fetch(
	`https://yf-api-ben-sonley-s-team.vercel.app/api/history?symbol=${symbol}&weeks=1&interval=30m`,
);
const intradayData = await responseIntraday.json();
---

<div class="candlestick-tabs">
	<h2>{symbol} - 52 Week - Weekly</h2>
	<Candlestick priceData={JSON.stringify(weeklyData)} />

	<h2>{symbol} - 13 Week - Daily</h2>
	<Candlestick priceData={JSON.stringify(dailyData)} />

	<h2>{symbol} - 1 Week - 30m</h2>
	<Candlestick priceData={JSON.stringify(intradayData)} />
</div>
