---
import Tabs from "@components/widgets/tabs/Tabs.astro";
import Candlestick from "@components/charts/Candlestick.astro";

interface Props {
	symbol: string;
	endDate: string;
}

const { symbol, endDate } = Astro.props;

const isProd = import.meta.env.PROD;

const domain = isProd ? "https://yf-api.vercel.app" : "http://localhost:3000";

const responseInfo = await fetch(`${domain}/api/info?symbol=${symbol}`);
const info = await responseInfo.json();

const responseWeekly = await fetch(
	`${domain}/api/history?symbol=${symbol}&weeks=52&interval=1wk&date=${endDate}`,
);
const weeklyData = await responseWeekly.json();

const responseDaily = await fetch(
	`${domain}/api/history?symbol=${symbol}&weeks=13&interval=1d&date=${endDate}`,
);
const dailyData = await responseDaily.json();

const responseIntraday = await fetch(
	`${domain}/api/history?symbol=${symbol}&weeks=2&interval=1h&date=${endDate}`,
);
const intradayData = await responseIntraday.json();
---

<section>
	<h2 class="section-title">{info.shortName} - ({symbol})</h2>
	<p>{info.sectorDisp} - {info.industryDisp}</p>
	<Tabs>
		<Fragment slot="tab-1">52Wk</Fragment>
		<Fragment slot="tab-2">13Wk</Fragment>
		<Fragment slot="tab-3">2Wk</Fragment>

		<Fragment slot="panel-1">
			<h2 class="chart-title">52 Week - Weekly</h2>
			<Candlestick historicalData={JSON.stringify(weeklyData)} />
		</Fragment>

		<Fragment slot="panel-2">
			<h2 class="chart-title">13 Week - Daily</h2>
			<Candlestick historicalData={JSON.stringify(dailyData)} />
		</Fragment>

		<Fragment slot="panel-3">
			<h2 class="chart-title">2 Week - 60m</h2>
			<Candlestick historicalData={JSON.stringify(intradayData)} />
		</Fragment>
	</Tabs>
</section>

<style lang="scss">
	@use "../../styles/variables";

	.section-title {
		margin-bottom: 0;
		font-size: variables.$font-size-h3;
	}

	.chart-title {
		margin-top: variables.$space-flex-32;
		margin-bottom: variables.$space-flex-16;
		font-size: variables.$font-size-h4;
	}
</style>
